/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

/* VARIABLES */
:root {
  --white: white;
  --pink: hsl(322, 100%, 66%);
  --veryPaleCyan: hsl(193, 100%, 96%);
  --veryDarkCyan: hsl(192, 100%, 9%);
  --grayishBlue: hsl(208, 11%, 55%);
}

/* RESET UNIVERSAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*=================================================================================*/

/*============================= MOBILE FIRST DESING =============================*/

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

main {
  width: 100%;
}

/* =========== INTRO SECTION =========== */

#intro-section {
  width: 100%;
  background-color: var(--veryPaleCyan);
  background-image: url(../images/bg-hero-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 1.7rem 7% 1rem;
  margin-bottom: 1.5rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5.7rem;
}

.logo {
  height: 1rem;
}

button {
  border: none;
  border-radius: 4rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.097);

  background-color: var(--pink);
  color: white;
  height: 2.7rem;
  width: 75%;
  min-width: 255px;
  max-width: 320px;
}

#tryItBtn {
  width: 6.5rem;
  min-width: 6.5rem;
  height: 1.5rem;
  font-size: 0.7rem;
  background-color: white;
  color: var(--veryDarkCyan);
}

.intro-container{
    text-align: center;
}

h1 {
  font-family: "Poppins", sans-serif;
  color: var(--veryDarkCyan);
  font-weight: 600;
  line-height: 2.35rem;
  text-align: center;
  margin-bottom: 1.62rem;
}

.intro-container p{
    text-align: center;
    color: var(--veryDarkCyan);
    font-size: 1.07rem;
    line-height: 1.56rem;
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 2.3rem;
} 

.mockup-img {
    width: 100%;
    margin: 3.5rem auto 0;
  }

/* =========== CARDS SECTION =========== */

#cards-section {
    width: 100%;
    padding: 1.7rem 5% 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .card{
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.097);
    border-radius: 12px;
    padding: 3.5rem 2.9rem;
    text-align: center;
    max-width: 320px;
    margin: 0 auto;
  }
  
  .card img {
    width: 100%;
    margin-bottom: 2.9rem;
  }

  .card h2{
    color: var(--veryDarkCyan);
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
  }

  .card p{
    font-size: 0.94rem;
    color: var(--grayishBlue);
    line-height: 1.45rem;
  }

/* =========== FOOTER SECTION =========== */

.community
{
    background-color: white;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.097);
    border-radius: 12px; 
    text-align: center;
    padding: 2.6rem 0;
    width: 95%;
    max-width: 450px;
    margin: 0 auto;
    position: relative;
    bottom: -90px;
}

.community h2{
    color: var(--veryDarkCyan);
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
  }

  .community button{
    width: 230px;
  }

  .footer-container
  {
    background-color: var(--veryDarkCyan);
    color: white;
    padding: 11.5rem 0.8rem 2rem;
  }

  .footer-address{
    display: flex;
    flex-direction: row;

  }


.social-container {
  width: 210px;
  display: inline-flex;
  justify-content: space-between;
}

/* ---- FOOTER ---- */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*=================================================================================*/
/*                                RESPONSIVE DESING                                */
/*=================================================================================*/

/*============================= >= 1284px  ==================================*/

@media only screen and (min-width: 1284px) {
}
